# IBM Applied Data Science Capstone Course by Coursera
**Week 5 Final Report**

***Opening a New Shopping Mall in Kuala Lumpur, Malaysia***



*   Build a dataframe of neighborhoods in Kuala Lumpur, Malaysia by web scraping the data from Wikipedia page
*   Get the geographical coordinates of the neighborhoods
*   Obtain the venue data for the neighborhoods from Foursquare API
*   Explore and cluster the neighborhoods
*   Select the best cluster to open a new shopping mall

**1. Importing liabraries**

In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

**2. Scrap data from Wikipedia page into a DataFrame**

In [0]:
# send the GET request
data = requests.get("https://en.wikipedia.org/wiki/Category:Suburbs_in_Kuala_Lumpur").text

In [0]:
soup = BeautifulSoup(data, 'html.parser')

In [0]:
# create a list to store neighborhood data
neighborhoodList = []

In [0]:
# append the data into the list
for row in soup.find_all("div", class_="mw-category")[0].findAll("li"):
    neighborhoodList.append(row.text)

In [8]:
# create a new DataFrame from the list
kl_df = pd.DataFrame({"Neighborhood": neighborhoodList})

kl_df.head()

            Neighborhood
0             Alam Damai
1   Ampang, Kuala Lumpur
2       Bandar Menjalara
3  Bandar Sri Permaisuri
4   Bandar Tasik Selatan

In [9]:
kl_df.shape

(71, 1)

**3. Get the geographical coordinates**

In [0]:
# define a function to get coordinates
def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Kuala Lumpur, Malaysia'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [0]:
# call the function to get the coordinates, store in a new list using list comprehension
coords = [ get_latlng(neighborhood) for neighborhood in kl_df["Neighborhood"].tolist() ]

In [0]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

In [0]:
# merge the coordinates into the original dataframe
kl_df['Latitude'] = df_coords['Latitude']
kl_df['Longitude'] = df_coords['Longitude']

In [0]:
# check the neighborhoods and the coordinates
print(kl_df.shape)
kl_df

4. Create a map of Kuala Lumpur with neighborhoods superimposed on top

In [15]:
# get the coordinates of Kuala Lumpur
address = 'Kuala Lumpur, Malaysia'

geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Kuala Lumpur, Malaysiae {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Kuala Lumpur, Malaysiae 3.1516964, 101.6942371.

**4. Create a map of Kuala Lumpur with neighborhoods superimposed on top**

In [0]:
# create map of Toronto using latitude and longitude values
map_kl = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, neighborhood in zip(kl_df['Latitude'], kl_df['Longitude'], kl_df['Neighborhood']):
    label = '{}'.format(neighborhood)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_kl)  
    
map_kl

**5. Use the Foursquare API to explore the neighborhoods**

In [17]:
CLIENT_ID = 'AEM3OGNJZYVBT3I1PVZ4K4IQVDPFDNIBNH1GMJOGIQJDVHAA' # your Foursquare ID
CLIENT_SECRET = 'XWJ0D553L1A0OZHCKJC3EMKT4A022QQEKZH4VFHQMNBXKQY5' # your Foursquare Secret
VERSION = '20180604'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: AEM3OGNJZYVBT3I1PVZ4K4IQVDPFDNIBNH1GMJOGIQJDVHAA
CLIENT_SECRET:XWJ0D553L1A0OZHCKJC3EMKT4A022QQEKZH4VFHQMNBXKQY5

Now, let's get the top 100 venues that are within a radius of 2000 meters.

In [0]:
radius = 2000
LIMIT = 100

venues = []

for lat, long, neighborhood in zip(kl_df['Latitude'], kl_df['Longitude'], kl_df['Neighborhood']):
    
    # create the API request URL
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [19]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['Neighborhood', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head()

(7084, 7)

,Neighborhood,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Alam Damai,3.05769,101.74388,Pengedar Shaklee Kuala Lumpur,3.061235,101.740696,Supplement Shop
1,Alam Damai,3.05769,101.74388,Jc Deli 皆喜食坊,3.058397,101.748560,Food & Drink Shop
2,Alam Damai,3.05769,101.74388,Machi Noodle 妈子面,3.057695,101.746635,Noodle House
3,Alam Damai,3.05769,101.74388,Minang Tomyam,3.057185,101.749812,Seafood Restaurant
4,Alam Damai,3.05769,101.74388,628火焰鑫茶室,3.058442,101.747947,Chinese Restaurant

In [0]:
venues_df.groupby(["Neighborhood"]).count()

In [27]:
venues_df['VenueCategory'].unique()[:50]

array(['Supplement Shop', 'Food & Drink Shop', 'Noodle House',
       'Seafood Restaurant', 'Chinese Restaurant', 'Restaurant',
       'Breakfast Spot', 'Vegetarian / Vegan Restaurant',
       'Dim Sum Restaurant', 'Food Court', 'Convenience Store', 'Park',
       'Bubble Tea Shop', 'Snack Place', 'Indian Restaurant',
       'Dessert Shop', 'Spa', 'Asian Restaurant', 'Other Great Outdoors',
       'Café', 'Coffee Shop', 'Outlet Store', 'Chinese Breakfast Place',
       'Bakery', 'Pet Store', 'Farmers Market', 'Food Truck',
       'Mamak Restaurant', 'Gym / Fitness Center', 'Hakka Restaurant',
       'Japanese Restaurant', 'Malay Restaurant', 'Athletics & Sports',
       'Fast Food Restaurant', 'Cantonese Restaurant', 'Badminton Court',
       'Burger Joint', 'Middle Eastern Restaurant', 'Steakhouse',
       'College Bookstore', 'Grocery Store', 'Winery', 'Yoga Studio',
       'Salon / Barbershop', 'Vietnamese Restaurant', 'Thai Restaurant',
       'Hostel', 'Exhibit', 'Chettinad Restaurant', 'Hotel'], dtype=object)

**6. Analyze Each Neighborhood**

In [28]:
kl_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
kl_onehot['Neighborhoods'] = venues_df['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [kl_onehot.columns[-1]] + list(kl_onehot.columns[:-1])
kl_onehot = kl_onehot[fixed_columns]

print(kl_onehot.shape)
kl_onehot.head()

(7084, 302)

,Neighborhoods,Accessories Store,Adult Boutique,African Restaurant,American Restaurant,Aquarium,Arcade,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Auditorium,Auto Dealership,Auto Garage,Auto Workshop,Automotive Shop,BBQ Joint,Badminton Court,Bagel Shop,Bakery,Bar,Baseball Field,Basketball Court,Beer Bar,Beer Garden,Belgian Restaurant,Bistro,Board Shop,Bookstore,Botanical Garden,Boutique,Breakfast Spot,Brewery,Bridal Shop,Bubble Tea Shop,Buffet,Building,Burger Joint,Burrito Place,Butcher,Cafeteria,Café,Camera Store,Campground,Cantonese Restaurant,Capitol Building,Casino,Chettinad Restaurant,Chinese Breakfast Place,Chinese Restaurant,Circus,Clothing Store,Club House,Cocktail Bar,Coffee Shop,College Academic Building,College Bookstore,College Cafeteria,Comedy Club,Comfort Food Restaurant,Concert Hall,Convenience Store,Cosmetics Shop,Cycle Studio,Dance Studio,Deli / Bodega,Department Store,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Dive Bar,Dive Shop,Dog Run,Donut Shop,Dumpling Restaurant,Eastern European Restaurant,Electronics Store,English Restaurant,Event Space,Exhibit,Fabric Shop,Farm,Farmers Market,Fast Food Restaurant,Field,Fish & Chips Shop,Fish Market,Flea Market,Flower Shop,Food,Food & Drink Shop,Food Court,Food Service,Food Stand,Food Truck,Frame Store,French Restaurant,Fried Chicken Joint,Frozen Yogurt Shop,Fruit & Vegetable Store,Furniture / Home Store,Gaming Cafe,Garden,Gas Station,Gastropub,Gay Bar,General Entertainment,General Travel,German Restaurant,Gift Shop,Golf Course,Gourmet Shop,Government Building,Grocery Store,Gym,Gym / Fitness Center,Gym Pool,Hainan Restaurant,Hakka Restaurant,Halal Restaurant,Hardware Store,Hawaiian Restaurant,Health & Beauty Service,High School,Hill,Historic Site,History Museum,Hockey Arena,Hong Kong Restaurant,Hookah Bar,Hostel,Hot Dog Joint,Hot Spring,Hotel,Hotel Bar,Hotel Pool,Hotpot Restaurant,Housing Development,Hunan Restaurant,IT Services,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Indonesian Restaurant,Irish Pub,Italian Restaurant,Japanese Restaurant,Jazz Club,Jewelry Store,Juice Bar,Karaoke Bar,Kebab Restaurant,Kids Store,Korean Restaurant,Kushikatsu Restaurant,Lake,Latin American Restaurant,Leather Goods Store,Lebanese Restaurant,Light Rail Station,Lingerie Store,Lounge,Malay Restaurant,Mamak Restaurant,Market,Martial Arts Dojo,Massage Studio,Medical Center,Men's Store,Metro Station,Mexican Restaurant,Middle Eastern Restaurant,Miscellaneous Shop,Mobile Phone Shop,Modern European Restaurant,Monument / Landmark,Moroccan Restaurant,Mosque,Motel,Motorcycle Shop,Mountain,Movie Theater,Multiplex,Museum,Music Store,Music Venue,Nail Salon,Night Market,Nightclub,Noodle House,North Indian Restaurant,Office,Optical Shop,Other Great Outdoors,Outdoor Event Space,Outlet Store,Pakistani Restaurant,Palace,Park,Performing Arts Venue,Pet Café,Pet Store,Pharmacy,Piano Bar,Pie Shop,Pizza Place,Playground,Plaza,Poke Place,Pool,Pool Hall,Print Shop,Pub,Public Art,Racetrack,Ramen Restaurant,Recording Studio,Residential Building (Apartment / Condo),Resort,Rest Area,Restaurant,River,Rock Climbing Spot,Sake Bar,Salad Place,Salon / Barbershop,Sandwich Place,Satay Restaurant,Scandinavian Restaurant,Scenic Lookout,Science Museum,Sculpture Garden,Seafood Restaurant,Shabu-Shabu Restaurant,Shipping Store,Shoe Store,Shop & Service,Shopping Mall,Shopping Plaza,Skate Park,Ski Area,Ski Chalet,Ski Lodge,Smoke Shop,Smoothie Shop,Snack Place,Soccer Field,Soccer Stadium,Soup Place,South American Restaurant,South Indian Restaurant,Spa,Spanish Restaurant,Speakeasy,Sporting Goods Shop,Sports Bar,Sports Club,Sri Lankan Restaurant,Stadium,Stationery Store,Steakhouse,Street Food Gathering,Supermarket,Supplement Shop,Surf Spot,Sushi Restaurant,Szechuan Restaurant,Taiwanese Restaurant,Tapas Restaurant,Tattoo Parlor,Tea Room,Temple,Tennis Court,Tex-Mex Restaurant,Thai Restaurant,Theater,Theme Park,Theme Restaurant,Thrift / Vintage Store,Toy / Game Store,Track Stadium,Trail,Train Station,Tunnel,Turkish Restaurant,Udon Restaurant,Vape Store,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo
0,Alam Damai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Alam Damai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Alam Damai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Alam Damai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Alam Damai,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [0]:
kl_grouped = kl_onehot.groupby(["Neighborhoods"]).mean().reset_index()

print(kl_grouped.shape)
kl_grouped

In [32]:
len(kl_grouped[kl_grouped["Supermarket"] > 0])

23

In [0]:
kl_mall = kl_grouped[["Neighborhoods","Supermarket"]]

In [34]:
kl_mall.head()

           Neighborhoods  Supermarket
0             Alam Damai          0.0
1   Ampang, Kuala Lumpur          0.0
2       Bandar Menjalara          0.0
3  Bandar Sri Permaisuri          0.0
4   Bandar Tasik Selatan          0.0

**7. Cluster Neighborhoods**

In [35]:
# set number of clusters
kclusters = 3

kl_clustering = kl_mall.drop(["Neighborhoods"], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(kl_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 1, 1, 1, 1, 1, 2, 2, 0, 1], dtype=int32)

In [0]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
kl_merged = kl_mall.copy()

# add clustering labels
kl_merged["Cluster Labels"] = kmeans.labels_

In [41]:
kl_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
kl_merged.head()

            Neighborhood  Supermarket  Cluster Labels
0             Alam Damai          0.0               1
1   Ampang, Kuala Lumpur          0.0               1
2       Bandar Menjalara          0.0               1
3  Bandar Sri Permaisuri          0.0               1
4   Bandar Tasik Selatan          0.0               1

In [42]:
kl_merged = kl_merged.join(kl_df.set_index("Neighborhood"), on="Neighborhood")

print(kl_merged.shape)
kl_merged.head()

(71, 5)

            Neighborhood  Supermarket  Cluster Labels  Latitude   Longitude
0             Alam Damai          0.0               1  3.057690  101.743880
1   Ampang, Kuala Lumpur          0.0               1  3.148494  101.696729
2       Bandar Menjalara          0.0               1  3.190350  101.625450
3  Bandar Sri Permaisuri          0.0               1  3.103910  101.712260
4   Bandar Tasik Selatan          0.0               1  3.072750  101.714610

In [43]:
# sort the results by Cluster Labels
print(kl_merged.shape)
kl_merged.sort_values(["Cluster Labels"], inplace=True)
kl_merged

(71, 5)

,Neighborhood,Supermarket,Cluster Labels,Latitude,Longitude
53,Sri Petaling,0.01,0,3.072600,101.682520
51,Shamelin,0.01,0,3.124570,101.735970
36,Kuchai Lama,0.01,0,3.090740,101.677330
25,"Federal Hill, Kuala Lumpur",0.01,0,3.136370,101.685640
14,Bukit Kiara,0.01,0,3.143480,101.644330
57,Taman Desa,0.01,0,3.102970,101.684710
12,Bukit Bintang,0.01,0,3.147770,101.708550
50,Setiawangsa,0.01,0,3.191803,101.740070
27,"Jalan Cochrane, Kuala Lumpur",0.01,0,3.132903,101.724679
44,Putrajaya,0.01,0,3.125843,101.718509
31,"Kampung Baru, Kuala Lumpur",0.01,0,3.165460,101.710280
43,"Pudu, Kuala Lumpur",0.01,0,3.133540,101.713070
64,Taman Sri Sinar,0.01,0,3.190070,101.652930
42,Pantai Dalam,0.01,0,3.094760,101.667470
8,Bangsar South,0.01,0,3.111020,101.662830
22,"Damansara, Kuala Lumpur",0.01,0,3.141906,101.679678
45,Salak South,0.00,1,3.081020,101.697240
46,Segambut,0.00,1,3.186390,101.668100
47,Semarak,0.00,1,3.179916,101.721437
48,"Sentul, Kuala Lumpur",0.00,1,3.175080,101.693050
41,Mont Kiara,0.00,1,3.165320,101.652430
49,Setapak,0.00,1,3.188160,101.704150
40,Miharja,0.00,1,3.147890,101.694050
0,Alam Damai,0.00,1,3.057690,101.743880
54,Sungai Besi,0.00,1,3.049970,101.706030
55,Taman Bukit Maluri,0.00,1,3.200660,101.633370
56,Taman Connaught,0.00,1,3.082690,101.736890
58,Taman Ibukota,0.00,1,3.212160,101.715400
59,Taman Len Seng,0.00,1,3.069080,101.742870
60,Taman Melati,0.00,1,3.223570,101.723990
61,Taman Midah,0.00,1,3.093590,101.728370
62,Taman OUG,0.00,1,3.210050,101.634508
63,Taman P. Ramlee,0.00,1,3.193940,101.705730
65,Taman Taynton View,0.00,1,3.087070,101.736810
66,Taman Tun Dr Ismail,0.00,1,3.152830,101.622710
68,Taman Wahyu,0.00,1,3.222400,101.671730
52,Sri Hartamas,0.00,1,3.162200,101.650360
39,Medan Tuanku,0.00,1,3.159260,101.698340
35,Kepong Baru,0.00,1,3.207768,101.645167
17,Bukit Tunku,0.00,1,3.173810,101.682760
1,"Ampang, Kuala Lumpur",0.00,1,3.148494,101.696729
2,Bandar Menjalara,0.00,1,3.190350,101.625450
3,Bandar Sri Permaisuri,0.00,1,3.103910,101.712260
4,Bandar Tasik Selatan,0.00,1,3.072750,101.714610
5,Bandar Tun Razak,0.00,1,3.082800,101.722810
9,Batu 11 Cheras,0.00,1,3.061870,101.746750
10,"Batu, Kuala Lumpur",0.00,1,3.147890,101.694050
13,Bukit Jalil,0.00,1,3.057810,101.689650
15,Bukit Nanas,0.00,1,3.151142,101.699375
16,Bukit Petaling,0.00,1,3.129290,101.698960
38,Maluri,0.00,1,3.147890,101.694050
18,"Cheras, Kuala Lumpur",0.00,1,3.061870,101.746750
70,Wangsa Maju,0.00,1,3.203910,101.737190
20,Damansara Heights,0.00,1,3.147970,101.667950
21,Damansara Town Centre,0.00,1,3.136442,101.690296
23,Dang Wangi,0.00,1,3.156685,101.698077
24,Desa Petaling,0.00,1,3.083300,101.704380
26,Happy Garden,0.00,1,3.201630,101.721070
69,Titiwangsa,0.00,1,3.180730,101.703210
28,Jalan Duta,0.00,1,3.180025,101.677834
29,Jinjang,0.00,1,3.209500,101.658740
19,Chow Kit,0.00,1,3.163590,101.698110
34,Kepong,0.00,1,3.217500,101.637630
33,Kampung Padang Balang,0.00,1,3.209430,101.693180
67,Taman U-Thant,0.02,2,3.157700,101.724520
7,Bangsar Park,0.02,2,3.129200,101.678440
30,KL Eco City,0.02,2,3.117130,101.673840
6,Bangsar,0.02,2,3.129200,101.678440
11,Brickfields,0.02,2,3.129160,101.684060
32,Kampung Datuk Keramat,0.02,2,3.166400,101.730460
37,Lembah Pantai,0.02,2,3.121202,101.663899

In [0]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(kl_merged['Latitude'], kl_merged['Longitude'], kl_merged['Neighborhood'], kl_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [0]:
# save the map as HTML file
map_clusters.save('map_clusters.html')

Cluster 1

In [47]:
kl_merged.loc[kl_merged['Cluster Labels'] == 1]

             Neighborhood  Supermarket  Cluster Labels  Latitude   Longitude
45            Salak South          0.0               1  3.081020  101.697240
46               Segambut          0.0               1  3.186390  101.668100
47                Semarak          0.0               1  3.179916  101.721437
48   Sentul, Kuala Lumpur          0.0               1  3.175080  101.693050
41             Mont Kiara          0.0               1  3.165320  101.652430
49                Setapak          0.0               1  3.188160  101.704150
40                Miharja          0.0               1  3.147890  101.694050
0              Alam Damai          0.0               1  3.057690  101.743880
54            Sungai Besi          0.0               1  3.049970  101.706030
55     Taman Bukit Maluri          0.0               1  3.200660  101.633370
56        Taman Connaught          0.0               1  3.082690  101.736890
58          Taman Ibukota          0.0               1  3.212160  101.715400
59         Taman Len Seng          0.0               1  3.069080  101.742870
60           Taman Melati          0.0               1  3.223570  101.723990
61            Taman Midah          0.0               1  3.093590  101.728370
62              Taman OUG          0.0               1  3.210050  101.634508
63        Taman P. Ramlee          0.0               1  3.193940  101.705730
65     Taman Taynton View          0.0               1  3.087070  101.736810
66    Taman Tun Dr Ismail          0.0               1  3.152830  101.622710
68            Taman Wahyu          0.0               1  3.222400  101.671730
52           Sri Hartamas          0.0               1  3.162200  101.650360
39           Medan Tuanku          0.0               1  3.159260  101.698340
35            Kepong Baru          0.0               1  3.207768  101.645167
17            Bukit Tunku          0.0               1  3.173810  101.682760
1    Ampang, Kuala Lumpur          0.0               1  3.148494  101.696729
2        Bandar Menjalara          0.0               1  3.190350  101.625450
3   Bandar Sri Permaisuri          0.0               1  3.103910  101.712260
4    Bandar Tasik Selatan          0.0               1  3.072750  101.714610
5        Bandar Tun Razak          0.0               1  3.082800  101.722810
9          Batu 11 Cheras          0.0               1  3.061870  101.746750
10     Batu, Kuala Lumpur          0.0               1  3.147890  101.694050
13            Bukit Jalil          0.0               1  3.057810  101.689650
15            Bukit Nanas          0.0               1  3.151142  101.699375
16         Bukit Petaling          0.0               1  3.129290  101.698960
38                 Maluri          0.0               1  3.147890  101.694050
18   Cheras, Kuala Lumpur          0.0               1  3.061870  101.746750
70            Wangsa Maju          0.0               1  3.203910  101.737190
20      Damansara Heights          0.0               1  3.147970  101.667950
21  Damansara Town Centre          0.0               1  3.136442  101.690296
23             Dang Wangi          0.0               1  3.156685  101.698077
24          Desa Petaling          0.0               1  3.083300  101.704380
26           Happy Garden          0.0               1  3.201630  101.721070
69             Titiwangsa          0.0               1  3.180730  101.703210
28             Jalan Duta          0.0               1  3.180025  101.677834
29                Jinjang          0.0               1  3.209500  101.658740
19               Chow Kit          0.0               1  3.163590  101.698110
34                 Kepong          0.0               1  3.217500  101.637630
33  Kampung Padang Balang          0.0               1  3.209430  101.693180

Cluster 2

In [48]:
kl_merged.loc[kl_merged['Cluster Labels'] == 2]

             Neighborhood  Supermarket  Cluster Labels  Latitude   Longitude
67          Taman U-Thant         0.02               2  3.157700  101.724520
7            Bangsar Park         0.02               2  3.129200  101.678440
30            KL Eco City         0.02               2  3.117130  101.673840
6                 Bangsar         0.02               2  3.129200  101.678440
11            Brickfields         0.02               2  3.129160  101.684060
32  Kampung Datuk Keramat         0.02               2  3.166400  101.730460
37          Lembah Pantai         0.02               2  3.121202  101.663899

Cluster 3

In [49]:
kl_merged.loc[kl_merged['Cluster Labels'] == 3]

Empty DataFrame
Columns: [Neighborhood, Supermarket, Cluster Labels, Latitude, Longitude]
Index: []